{% extends 'base.html' %}

{% block title %}Codease{% endblock %}

{% block content %}
<style>
    .center-container {
        text-align: center; /* Center the buttons */
        margin-top: 20px;
    }
    .btn {
        display: inline-block; /* Display as inline-block for proper spacing */
        margin: 10px; /* Add some margin around buttons */
        padding: 10px 20px; /* Padding for size */
        background-color: #f95838        ; /* A nice blue background */
        color: white; /* White text color */
        text-decoration: none; /* Remove underline from links */
        border-radius: 5px; /* Rounded corners */
        transition: background-color 0.3s; /* Smooth transition for hover effect */
    }
    .btn:hover {
        background-color: #c74630; /* Darker blue on hover */
    }
</style>

<div class="center-container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Codease</h1>
    <br>
    <br>
    <a href="{% url 'custom_login' %}" class="btn">Want to login?</a>
    <a href="{% url 'register' %}" class="btn">No account? No problem! Register now</a>
</div>
{% endblock %}
