{% extends 'base.html' %}
{% load static %}


{% block title %}Codease{% endblock %}

{% block content %}
<style>
    .center-container {
        text-align: center; 
        margin-top: 20px;
    }
    .btn {
        display: inline-block; 
        margin: 10px; 
        padding: 10px 20px; 
        background-color: #f95838; 
        color: white; 
        text-decoration: none; 
        border-radius: 5px; 
        transition: background-color 0.3s; 
    }
    .btn:hover {
        background-color: #c74630; 
    }
    .right-align {
        text-align: right;
        padding-right: 3%;
    }
</style>


<div class="center-container">
    <div class="right-align">
        <img src="{% static 'img/hang.gif' %}" alt="gifs" width="20%">
    </div>
    <br>
    <br>


    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Codease</h1>
    <br>
    <br>
    <a href="{% url 'custom_login' %}" class="btn">Login</a>
    <a href="{% url 'register' %}" class="btn">Register</a>
</div>

<img src="{% static 'img/waving.gif' %}" alt="gifs" width="30%">



{% endblock %}
