{% extends 'base.html' %}

{% block title %}Codease{% endblock %}

{% block content %}
<style>
    .center-container {
        text-align: center; 
        margin-top: 20px;
    }
    .btn {
        display: inline-block; 
        margin: 10px; 
        padding: 10px 20px; 
        background-color: #f95838; 
        color: white; 
        text-decoration: none; 
        border-radius: 5px; 
        transition: background-color 0.3s; 
    }
    .btn:hover {
        background-color: #c74630; 
    }
</style>

<div class="center-container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Codease</h1>
    <br>
    <br>
    <a href="{% url 'custom_login' %}" class="btn">Login</a>
    <a href="{% url 'register' %}" class="btn">Register</a>
</div>
{% endblock %}
