<!DOCTYPE html>
<html>
<head>
    <title>Success Page</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Welcome, {{ user.name }}! You have successfully logged in.</h1>
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <!-- Displaying password for testing purposes (remove in production!) -->
    <!-- <p>Password: {{ user.password }}</p> -->

    <a href="http://localhost:3000/">Homepage</a>

    <!-- Add content specific to the authenticated user -->
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% endif %}
</body>
</html>
