{% extends 'base.html' %}

{% block title %}Account Information{% endblock %}
{% load static %}
{% block content %}
    <div class="navbar">
        <div class="navbar-left">
            <img src="{% static 'img/logo.jpg' %}" alt="Logo">
            <a id="Homepage" href="" onclick="setHref()">Home</a>
            <script>
                function setHref(id) {
                    document.getElementById("Homepage").href = 'http://localhost:3000/?user={{user.id}}';
                }
            </script>
        </div>
        <style>
            .left-align {
                text-align: left;
                padding-left: 60%;
            }
            .left-align img:hover {
                /* Make the element significantly larger when hovered */
                transform: scale(4.0); 
                transition: transform 0.9s ease-out; /* Slower, more gradual return when mouse leaves */
            }
            .left-align img {
                /* Apply a general transition for scaling down */
                transition: transform 0.9s ease-out; /* Ensures smooth scaling down after hover */
            }
        </style>
        <div class="navbar-right">
            <a href="{% url 'success_page' %}">Account</a> 
        </div>
    </div>
    <div style="margin: 40px 60px; line-height: 2;">
        {% if user.is_authenticated %}
            <h1>Welcome, {{ user.name }}! </h1>
            <p>Name: {{ user.name }}</p>
            <p>Email: {{ user.email }}</p>

           
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <p>You are not logged in. <a href="{% url 'custom_login' %}">Login here</a></p>
        {% endif %}
        <div class="left-align">
            <img src="{% static 'img/waving.gif' %}" alt="gifs" width="30%">
        </div>
    </div>


    
    
{% endblock %}

