body {
  padding: 0;
}

#Top-nav {
  height: 50px;
  z-index: 4;
  background-color: #F95738;
}

#Editor {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#Editor-nav {
  width: 150px;
  height: calc(100% - 50px);
  padding: 10px;
  left: 0;
  position: absolute;
  color: white;
  background-color: #0D3B66;
  border-right: 10px solid #CED4DA;
  z-index: 3;
}

#Editor-nav button {
  width: 100%;
  left: 10px;
  color: white;
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
}

#Toolbar {
  width: calc(100% - 150px);
  height: 50px;
  left: 150px;
  padding-left: 15px;
  position: absolute;
  background-color: #CED4DA;
  z-index: 2;
  align-items: center;
  overflow: auto;
}

#Toolbar button {
  all: unset;
  margin-left: 10px;
  margin-right: 20px;
  color: #0D3B66;
  font-size: 20px;
}

#Template {
  width: calc(100% - 150px);
  height: calc(100% - 50px);
  left: 150px;
  position: absolute;
  background-color: white;
  z-index: 0;
  border: 10px solid #CED4DA;
  border-top: none;
  border-left: none;
}

.element {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: move;
  user-select: none;
  display: inline-block;
  overflow: visible;
  white-space: nowrap;
  z-index: 1;
}

#color-picker, #bgcolor-picker {
  margin: 0px;
  padding: 0px;
}