* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: #2B3035;
}

.element {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: move;
  user-select: none;
  display: inline-block;
  overflow: visible;
  white-space: nowrap;
  z-index: 1;
}

#Top-nav {
  height: 50px;
  z-index: 3;
}

#Editor {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#Editor-nav {
  width: 150px;
  height: 100%;
  padding: 10px;
  left: 0;
  position: absolute;
  color: white;
  z-index: 2;
}

#Editor-nav button {
  color: white;
}

#Template {
  width: 100%;
  height: 100%;
  left: 150px;
  position: absolute;
  background-color: white;
  z-index: 0;
}